.topback{
    text-align: left;
    position: absolute;
}
.zoey-bg{
    background-image: url("../assets/img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

}
.card-img-top{
    height: 300px;
    width: auto;
}
.card-title{
    background-color:rgb(81, 93, 104);
    color: aliceblue;
    padding: 15px;
    margin-bottom: 30px;
}
.card-body{
    background-color: black;
    height: 350px;

}
.card{
    border: none;
    border-color: rgb(255, 237, 210);
}
.card:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }

.card-text{
    color: aliceblue;
}
.text-muted{
color: rgb(255, 255, 255);

}
.card-footer{
    background-color: rgb(0, 0, 0);
    color: rgb(250, 245, 237);
    padding: 20px;
    border: 0dvh;
    margin: 0

}

.custom-btn{
    background-color: aliceblue !important;
    border-color: aliceblue !important;
    color:black;
    text-align:center;
    font-family: 'Noto Serif TC';
    border-radius: 25px; /* Make the button oval */
    
}
.overflowtest{
    background-color: rgb(47, 56, 50);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    width: auto;
    margin: 30px auto;
    overflow: scroll;
    padding: 20px 30px;
}
.color{
    color: aliceblue;
    }

.text{
    color: aliceblue;
    font-size: large;
}
.h4font{
    position: middle;
    color: aliceblue !important;
}
.timelineback{
    background-color: rgb(245, 65, 65) !important;
}
.h3font{
    color: aliceblue;
    font-size: medium;
}
.back{
    background-color: black !important;
    border-color: black !important;
}
.list-group-item.black {
    background-color: black;
    color: aliceblue;
    border: none;
    position: relative; /* 添加相对定位 */
}
.backblack{
    background-color: black !important;
    font-size: large;
}

.list-group-item.black::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%; /* 设置线条宽度为列表项宽度的40% */
    border-bottom: 2px solid aliceblue; /* 设置线条样式和颜色 */
}

.list-group-item-black{
    background-color: black;
    color: aliceblue;
}
.px-3{
    padding-bottom: 12px;
    font-size: 30px;
    text-align: left;
    padding-left: 0% !important;
    font-weight: 1000; 
}
.dead{
font-family: 'Noto Serif TC';
font-size: 24px;
margin-top: 0.5rem; 
}
.overflowtest1{
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    width: auto;
    margin: 30px auto;
    overflow: scroll;
    padding: 20px 30px;
}
.pfont{
    font-family: 'Noto Serif TC',sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
}
.table tbody tr {
    line-height: 2.8;
    padding-top: 15px; 
    padding-bottom: 15px; 
}
.custom-btn1{
    background-color: rgb(47, 56, 50) !important;
    border-color: rgb(47, 56, 50) !important;
    color:rgb(255, 255, 255);
    text-align:center;
    font-family: 'Noto Serif TC';
    border-radius: 25px; /* Make the button oval */
    margin-top: 20px;

}
.custom-btn:hover{
    background-color: white;
    color: darkgrey;
}
.custom-btn1:hover, .custom-btn2:hover{
  background-color: rgb(47, 56, 50) ;
  color: rgb(71, 105, 99);
}

.custom-btn2{

    background-color: rgb(47, 56, 50) !important;
    border-color: rgb(47, 56, 50) !important;
    color:rgb(255, 255, 255);
    font-family: 'Noto Serif TC';
    border-radius: 25px; /* Make the button oval */
    margin-bottom: 0cm;
    margin-top: 18px;
 
}
.mx-10{
    margin: 100px auto;
    right: inherit;
}
.text-right{
    text-align: right;
    bottom: 0%;
}

.team-member img {
    width: 150px; 
    height: auto;
}

.h55{
    font-family: 'Noto Serif TC';
    color: aliceblue;
}

.team-member {

    border: 1px solid rgb(47, 54, 55) ; 
    background-color: rgb(47, 54, 55) ;
    padding: 10px; 
    margin-bottom: 20px; 
}
