p{
    color: rgb(5, 72, 72);
}
p#blueblue{
    color:rgb(20, 235, 239);
    font-size: 44px;
    background-image: url(../assets/img/sky.jpg);
    background-size: cover;
    border: 5px solid;
    border-color: hotpink;
    text-align:center;
    background-color: rgba(247, 216, 221, 0.907);
}
.bg-primary{
background-color:antiquewhite !important;
font-size: 44px;
background-image: url(../assets/img/sea.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#redred{ 
    color: tomato;
}
.songsong{
    font-family: "Noto Serif TC", serif;
    font-size: 24px;
    color:coral;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Noto Sans TC',sans-serif;
}
.expedu_icon{
    color:pink;
}
.expedu_icon:hover{
    background-color: hotpink;
    color:pink;  
}
